 <%= form_for @comment, url: book_comment_path(@comment.book) do |f| %>
      <div class="field row">
        <%= f.label :text %>
        <%= f.text_field :text %>
      </div>
      <div class="actions row">
        <%= f.submit class: 'btn btn-primary'%>
      </div>
    <% end %>